* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 16px;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

img {

    max-width: 100%;
    display: block;
    height: auto;
}

/* ===============Sign In Page=============== */

.index_main_contianer{

    text-align: center;
}

.page_title h2{

    margin: 80px 20px;
    font-weight:300;
}

.form_box input{

    padding: 15px 40px;
    font-family: FontAwesome;
    background-color: #F0F4F8;
    font-size: 13px;
    border: none;
    margin: 10px 0;
    text-transform: lowercase;
}

::placeholder{

    color: #A6BCD0;
    font-size: 10px;
    text-transform: lowercase;

}

.sign_in a, .create_acc a{

    font-family: "Poppins";
    background-color:#fea32b;
    border-radius: 20px;
    padding:10px 80px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.sign_in a:hover, .create_acc a:hover{

    background-color:#57932c;
    font-weight:700;
    color: #ffffff;

}

.create_acc_btn, .sign_in_btn, .sign_in, .create_acc{
        margin-top: 90px;
}

.create_acc_btn a, .sign_in_btn a{

    border: none;
    font-size: 13px;
    text-transform: uppercase;
    background-color:#ffffff;
    text-decoration: none;
    color: #000;

}

.create_acc_btn a:hover, .sign_in_btn a:hover{

    color:#fea32b;
}