* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-size: 16px;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

img {

    max-width: 100%;
    display: block;
    height: auto;
}

.menu {

    display: none;
}

.showMenu {

    display: block;
}

/* ===============Sign In & Create Account Page=============== */

.index_main_contianer{

    text-align: center;
}

.page_title h2{

    margin: 80px 20px;
    font-weight:300;
}

.form_box input{

    padding: 15px 40px;
    font-family: FontAwesome;
    background-color: #F0F4F8;
    font-size: 13px;
    border: none;
    margin: 10px 0;
    text-transform: lowercase;
}

::placeholder{

    color: #A6BCD0;
    font-size: 10px;
    text-transform: lowercase;

}

.sign_in a, .create_acc a{

    font-family: "Poppins";
    background-color:#fea32b;
    border-radius: 20px;
    padding:10px 80px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.sign_in a:hover, .create_acc a:hover{

    background-color:#57932c;
    font-weight:700;
    color: #ffffff;

}

.create_acc_btn, .sign_in_btn, .sign_in, .create_acc{
        margin-top: 90px;
}

.create_acc_btn a, .sign_in_btn a{

    border: none;
    font-size: 13px;
    text-transform: uppercase;
    background-color:#ffffff;
    text-decoration: none;
    color: #000;

}

.create_acc_btn a:hover, .sign_in_btn a:hover{

    color:#fea32b;
}

/* ===============Shopping Store Page=============== */

header{

    background-color: #fea32b;
    padding: 20px;
    display: flex;
}

.logo img{

    height: 80px;
}

.parent_1, .parent_2, .parent_3, .parent_4{
    display: flex;
    justify-content: center;
}

.cat_content {

    padding: 20px 10px;
}

.cat_img img{

    border-radius: 17px 17px 0 0;
}

.category {

    background: rgba(217, 217, 217, 0.58);
    border: 2px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    margin: 20px;
}

.category:hover {
    border: 2px solid #fea32b;
    transform: scale(1.05);
}

.category:active {
    transform: scale(0.95) rotateZ(1.7deg);
}


/* ======================Light & Dark Mode====================== */

body {

    background-color: white;
    color: black;

}

.dark-mode {
    background-color:#404E5A;
    color: white;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
}

input:checked+.slider {
    background-color: #007bff;
    border: 1px solid #007bff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked+.slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
}

/* ======================Settings Page====================== */

.setting_btn{

    display: flex;
    margin: 25px;
    padding: 5px 20px;
    text-align: center;
    align-items: center;
    background-color: #F0F4F8;
    border-radius: 8px;
}

.setting_btn a, .redeem a, .add_card a{

    font-family: "Poppins";
    border-radius: 20px;
    padding: 15px 20px;
    font-weight: 200;
    text-decoration: none;
    color: #000;

}

.setting_btn img{

    height: 35px;

}

.setting_btn i{

    color: #fea32b;
    font-size: 25px;
}

/* ======================User Account Page====================== */

.page_title_btn{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 20px;

}

.page_title_btn h2{

    font-weight: 300;
    padding: 0 90px;
}

.back_btn a{

    color: #000;
}

.bunny_model p{

    padding-bottom: 40px;
    font-weight: 500;
}

.redeem{
    display: flex;
    margin: 25px 60px;
    text-align: center;
    align-items: center;
    background-color: #fea32b;
    border-radius: 8px;
    justify-content: center;
}

.redeem a:hover {

    font-weight: 700;
    color: #ffffff;

}

.redeem:hover{

    background-color:#57932c;
    font-weight:700;
    color: #ffffff;

}

.user_info hr, .payment_method hr{

    margin: 50px 50px;
    border-width: 1px;
    border-style: solid;
}

.user_details{

    background-color: #F0F4F8;
    padding: 30px 30px 20px 30px;
    margin: 0 50px;
    border-radius: 8px;
}

.user_details .details{

    padding: 10px;
    text-align: left;
}

.add_card{

    display: flex;
    margin: 20px 60px;
    padding: auto;
    text-align: center;
    align-items: center;
    background-color: #F0F4F8;
    border-radius: 8px;
    justify-content: center;
}
